extends ../layouts/layout 
include ../mixins/movieDetail

block route
  +movieDetail(movie)
  div
    p
      a(href=`/movies/${id}/edit`) &rarr; Edit Infos
    p 
      a(href=`/movies/${id}/delete`) &rarr; Delete Infos