extends ../layouts/layout 
include ../mixins/movieDetail

block route
  +movieDetail(movie)
  if loggedIn && String(movie.owner._id) === String(loggedInUser._id)
    div
      p
        a(href=`/movies/${id}/edit`) &rarr; Edit Infos
      p 
        a(href=`/movies/${id}/delete`) &rarr; Delete Movie
  div.movie__commentContainer
    if loggedIn
      form.movie__commentForm#commentForm
        textarea.movie__commentArea#commentArea(name="commentArea", cols="60", rows="1")  
        input.movie__commentBtn#commentBtn(type="submit", value="Confirm")
    ul
      each comment in movie.comments.reverse()
        li(data-id=comment._id)=comment.text
block scripts
  script(src="/static/js/moviePlayer.js") 
  if loggedIn
    script(src="/static/js/commentSection.js")