mixin movieList(movies)
  if movies.length
    div.movieList
      each movie in movies 
        div.movieList__linkContainer
          a(href=`/movies/${movie._id}`)
            div.movieList__titleContainer
              p=movie.title