mixin movieList(movies)
  div.movieList
    if !movies.length
      p there's no movie! 
    else
      each movie in movies 
        div.movieList__linkContainer
          a(href=`/movies/${movie._id}`)
            div.movieList__titleContainer
              p=movie.title