@import "./reset.scss";
@import "./variables";
//screens
@import "./screens/user.scss";
//components
@import "./components/header.scss";
@import "./components/movieDetail.scss";
@import "./components/footer.scss";
@import "./components/movieList.scss";
@import "./components/accountForm.scss";

* {
  box-sizing: border-box;
}
body {
  background-color: $orange;
}
main {
  min-height: 80vh;
}
a {
  text-decoration: none;
  color: inherit;
}
