.user__header {
  display: flex;
  align-items: center;
  margin: 30px $screen-margin-side auto;
  h2 {
    font-size: 24px;
    color: white;
  }
}

.user__profileImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  img {
    width: 100%;
    height: 100%;
  }
}
.user__infos {
  position: relative;
  p {
    position: absolute;
    top: 110%;
    left: 5%;
    color: white;
    opacity: 0.7;
    &:hover {
      opacity: 0.85;
      span {
        text-decoration: underline;
      }
    }
  }
}
