footer {
  color: white;
  background-color: $footer_bg;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__copyright {
  font-size: 12px;
}
.footer__links {
  display: flex;
  gap: 10px;
  font-size: 14px;
}
.footer__link {
  display: flex;
  align-items: center;
  gap: 5px;
}
