.movieFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  &.fullscreen .movieContainer {
    height: 100vh;
    video {
      width: 100vw;
    }
  }

  @media screen and (max-width: 1200px) {
    video {
      width: 100%;
    }
  }

  .movieContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
}

.movieControls {
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 5px;
  left: 10px;
  right: 10px;
  transform: translateY(50px);
  transition: all 0.15s linear;
  &.appear {
    transform: translateY(0);
  }
  button {
    all: unset;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .movieControls__timeline {
    input {
      width: 100%;
    }
  }

  .movieControls__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .movieControls__fullscreenBtn i {
      transition: all 0.1s linear;
    }
    .movieControls__fullscreenBtn:hover i {
      transform: scale(1.2);
    }

    .movieControls__leftBtns {
      display: flex;
      align-items: center;
      gap: 20px;
      .movieControls__volumeControls {
        display: flex;
        align-items: center;
        gap: 5px;
        .movieControls__volumeControl {
          width: 74px;
        }
      }
      .movieControls__times {
        font-weight: 600;
      }
    }
  }
}

.movieInfos {
  margin: 10px $screen-margin-side;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .movieInfos__genres {
    margin-left: -5px;
    margin-bottom: 5px;
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    background-color: rgba($color: orangered, $alpha: 0.8);
    border: none;
    border-radius: 7px;
  }
  h2,
  p {
    color: white;
  }
  h2 {
    font-size: 36px;
    font-weight: 800;
  }
  .movieInfos__owner {
    margin-bottom: 7px;
    font-size: 14px;
    .movieInfos__ownerName {
      opacity: 0.9;
      font-weight: 800;
      transition: all 0.1s linear;
      &:hover {
        opacity: 1;
      }
    }
  }
  .movieInfos__rating {
    position: relative;
    margin-bottom: 5px;
    .movieInfos__ratingTransparent {
      opacity: 0;
    }
    .movieInfos__ratingColored {
      overflow: hidden;
      white-space: nowrap;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      color: orangered;
    }
  }
}
