extends layouts/layout 

block route 
  include partials/errorMessage
  form(method="POST")
    input(type="email", name="useremail", required, placeholder="****@****")
    input(type="password", name="password", required, placeholder="********")
    input(type="submit", value="Login")