extends layouts/layout 

block route 
  include partials/errorMessage
  form(method="POST")
    input(type="email", name="useremail", required, placeholder="****@****")
    input(type="password", name="password", required, placeholder="********")
    input(type="submit", value="Login")
    div
      a(href=apiUrl) 
        img(height="30", src="http://static.nid.naver.com/oauth/small_g_in.PNG")