form(action="filter", method="GET")
  input(type="number", name="year", placeholder="search by year", max="2022")
  input(type="number", name="rating", placeholder="serach by rating", min="0", max="5")
  button(type="submit") search