footer
  div.footer__copyright
    span &copy; ExpressTube by WilleLee
  div.footer__links 
    span.footer__github
      a(href="htts://github.com/WilleLee").footer__link
        i.fa-brands.fa-github
        span WilleLee's GitHub
    span.footer__medium
      a(href="htts://medium.com/@1992season").footer__link
        i.fa-brands.fa-medium
        span WilleLee's Blog