footer
  div 
    span &copy; Express Challenges
  div.footer__links 
    span.footer__github
      i.fa-brands.fa-github
      a(href="htts://github.com/WilleLee").footer__link WilleLee's GitHub
    span.footer__medium
      i.fa-brands.fa-medium
      a(href="htts://medium.com/@1992season").footer__link WilleLee's Blog