head 
  title #{pageTitle} | Express Challenges
  meta(charset="utf-8")
  meta(name="description", content="here I do express challenges")
  meta(name="keyword", content="express, node, javascript, fullstack")
  link(rel="stylesheet" href="https://unpkg.com/mvp.css")