header 
  h1=pageTitle
  nav 
    ul 
      li
        a(href="/") Home
      li 
        a(href="/upload") Upload
      if !loggedIn
        li 
          a(href="/files") Files
        li 
          a(href="/login") Login
      else
        li
          a(href="/logout") Logout