header 
  div(class="mainLogoContainer")
    a(href="/")
      i(class="fa-brands fa-youtube")
      span.mainLogo__text ExpressTube
  div(class="searchbarContainer")
    form(action="/search", method="GET")
      input(type="text", name="keyword", placeholder="Search", min="1", max="20")
      button(type="submit") 
        i(class="fa-solid fa-magnifying-glass")
  nav
    ul
      if !loggedIn
        li 
          a(href="/login") Login
        li 
          a(href="/join") Join
      else
        li 
          a(href="/upload")
            i(class="fa-solid fa-circle-arrow-up")
        li
          a(href="/logout")
            i(class="fa-solid fa-right-from-bracket")
        li
          a(href=`/users/${loggedInUser._id}`) Profile