extends ../layouts/layout

block route
  include ../partials/errorMessage
  form.accountForm(method="POST")
    div.accountForm__container
      label(for="edit_formerPassword") Previous Password
      input(type="password", id="edit_formerPassword", name="formerPassword", required, placeholder="********")
    div.accountForm__container
      label(for="edit_password") New Password
      input(type="password", id="edit_password", name="newPassword", required, placeholder="********")
    div.accountForm__container
      label(for="edit_passwordc") Password Again
      input(type="password", id="edit_passwordc" name="passwordc", required, placeholder="********")
    div.accountForm__btns
      input.accountForm__submit.password(type="submit", value="Change Password")