extends ../layouts/layout 
include ../mixins/movieList

block route
  section.profileHeader
    div.profileImgContainer
      if user.profile_image
        img(src=user.profile_image, alt="")
      else
        span=user.username
    h2 #{user.username}'s Profile
    p 
      a(href=`/users/${id}/edit`) &rarr; edit my profile
  +movieList(user.videos)